div.cellautocomplete table {
  width: 30vw;
}

div.cellautocomplete tr {
  transition-duration: 294ms;
  transition-property: background-color, border-color, color;
}

div.cellautocomplete tr.focused {
  color: hsl(237, 86%, 34%);
  background-color: hsl(221, 34%, 84%);
}

div.cellautocomplete tr:hover {
  color: hsl(237, 86%, 64%);
  background-color: hsl(221, 34%, 93%);
  cursor: pointer;
}

div.cellautocomplete td {
  padding: .375rem 1rem;
}

div.cellautocomplete td:first-child {
  white-space: nowrap;
}

div.cellautocomplete td:last-child {
  font-size: 0.85rem;
}

div.cellautocomplete tr:not(:hover) td:last-child {
  opacity: 72%;
}

div.cellautocomplete tr:not(:hover):not(.focused) td b {
  color: rgba(220, 170, 0, 1);
}

@media (prefers-color-scheme: dark) {
  div.cellautocomplete tr:not(:hover):not(.focused) td b {
    color: gold;
  }
  
  div.cellautocomplete tr.focused {
    color: #535bf2;
    background-color: hsl(221, 14%, calc(20%));
  }
  
  div.cellautocomplete tr:hover {
    color: #535bf2;
    background-color: hsl(221, 14%, calc(20%));
  }
}

