div.setLabel {
  background-color: white;
  width: 50.5mm;
  height: 12.5mm;
  display: flex;
  padding: 1mm;
  flex-flow: nowrap;
  column-gap: 0;
  align-items: stretch;
}

div.setLabel div.qrCode {
  width: 10.5mm;
  height: 10.5mm;
  align-content: center;
  padding: 0;
}

div.setLabel div.textArea {
  background-color: white;
  padding: 0 1mm;
  font-size: 8pt;
  line-height: 9pt;
  align-content: center;
  font-weight: bold;
  color: black;
}

div.setLabel div.textArea div {
  width: 34mm;
  white-space: nowrap;
  overflow: hidden;
}

@media print {
  @page {
    div.setLabel {
        break-inside: avoid;
    }
  }
}