div.editableinput div.control.reset button {
  background-color: rgba(255, 60, 60, 0.1);
}

div.editableinput div.control.save button {
  background-color: rgba(30, 255, 140, 0.1);
}

div.editableinput div.control button span.icon {
  opacity: 0.5;
}

div.inputeditable-notify {
  display: none;
  padding-top: 0;
  z-index: 5;
  min-width: 8rem;
  position: absolute;
}

div.inputeditable-notify.disclosed {
  display: block;
}

div.inputeditable-notify-content {
  background-color: #F8F8F8;
  border-radius: 4px;
  box-shadow: 0 2px 3px rgba(10, 10, 10, 0.2), 0 0 0 1px rgba(10, 10, 10, 0.2);
  padding: 0.2rem 0.7rem 0.4rem 0.7rem;
}


@media (prefers-color-scheme: dark) {
  div.inputeditable-notify-content {
    background-color: #080808;
    box-shadow: 0 2px 3px rgba(120, 120, 120, 0.2), 0 0 0 1px rgba(120, 120, 120, 0.2);
  }
}