div.autocomplete.scantype table {
  width: 70vw;
}

div.autocomplete.scantype td:first-child {
  white-space: nowrap;
}

div.autocomplete.scantype td:last-child {
  font-size: 0.85rem;
}

div.autocomplete.scantype tr:not(:hover) td:last-child {
  opacity: 72%;
}
