/* Sortable table headers */

table th.sortable {
	cursor: pointer;
  padding-right: 1em;
	text-decoration: none;
	background-repeat: no-repeat;
	background-position: center right;
}

table th.sortable:hover {
	text-decoration: underline;
}

table th.sortable.sortedup {
	background-image: url("/table_sort-light_mode-up.png");
}

table th.sortable.sorteddown {
	background-image: url("/table_sort-light_mode-down.png");
}

@media (prefers-color-scheme: dark) {
  table th.sortable.sortedup {
    background-image: url("/table_sort-dark_mode-up.png");
  }

  table th.sortable.sorteddown {
    background-image: url("/table_sort-dark_mode-down.png");
  }
}