table.sampletable {
  font-size: 0.9rem !important;
  margin-top: 0.5rem;
  height: fit-content;
}

table.sampletable tr th {
  padding: 0.3rem 0.6rem;
}

table.sampletable tbody tr:nth-child(odd) {
  background-color: rgba(130, 143, 167, 0.07);
}

table.sampletable tbody tr:hover {
  color: rgba(7, 73, 251, 1);
  background-color: rgba(90, 105, 255, 0.2);
  cursor: pointer;
  user-select: none;
}

table.sampletable td.samplecell > div {
  display: grid;
  height: 100%;
  align-items: stretch;
}

/* Table cells with unused parameters */

table.sampletable td.samplecell.unused {
  padding: 0.1rem 0.2rem;
}

table.sampletable td.samplecell.unused > div > div.value {
  border-radius: 10px;
  background-image: url("/diagonal_lines.png");
  opacity: 0.3;
}

table.sampletable td.samplecell.unused > div > div.cellTableInput {
  display: none;
}

/* Table cells showing values (not being edited) */

table.sampletable tr td.samplecell:not(.unused):not(.editing) {
  padding: 0.1rem 0;
}

table.sampletable td.samplecell > div > div.value {
  padding: .275rem 1rem;
}

table.sampletable td.samplecell:not(.editing) > div > div.cellTableInput {
  display: none;
}

/* Table cell with focus but not activated for editing */

table.sampletable td.samplecell.focused {
  background-color: hsl(221, 14%, calc(60%));
}

/* Table cells showing values in editing mode */

table.sampletable tr td.samplecell.editing {
  padding: 0;
}

table.sampletable td.samplecell.editing > div > div.value {
  display: none;
}

table.sampletable tr td.samplecell div.cellTableInput {
  line-height: 1em;
  overflow-x: hidden;
}

table.sampletable tr td.samplecell div.cellTableInput input {
  padding: 0.3rem 0 0.3rem 0.5rem;
  font-size: 1em;
}

table.sampletable tr td.samplecell div.cellTableInput textarea {
  padding: 0.4rem 0 0.2rem 0.5rem;
  font-size: 1em;
}

table.sampletable td.samplecell > div > div.cellTableInput div.notify {
  display: none;
  padding-top: 0;
  z-index: 5;
  min-width: 8rem;
  position: absolute;
}

/* Pop-under box for editing feedback */

table.sampletable td.samplecell.editing > div > div.cellTableInput div.notify.disclosed {
  display: block;
}

table.sampletable td.samplecell > div > div.cellTableInput div.notify > div.notify-content {
  background-color: #F8F8F8;
  border-radius: 4px;
  box-shadow: 0 2px 3px rgba(10, 10, 10, 0.2), 0 0 0 1px rgba(10, 10, 10, 0.2);
  padding: 0.2rem 0.7rem 0.4rem 0.7rem;
  margin-right: 0.5rem;
  max-width: 500px;
}

@media (prefers-color-scheme: dark) {
  table.sampletable tbody tr:hover {
    color: rgba(156, 165, 241, 1);
  }

  table.sampletable td.samplecell > div > div.cellTableInput div.notify > div.notify-content {
    background-color: #080808;
    box-shadow: 0 2px 3px rgba(120, 120, 120, 0.2), 0 0 0 1px rgba(120, 120, 120, 0.2);
  }
}