div.setLabel {
  min-width: 256px;
  display: flex;
  margin: 1em;
  padding: 2px;
  flex-flow: nowrap;
  column-gap: 0;
  align-items: stretch;
}

div.setLabel div.qrCode {
  background-color: white;
  width: 0.6in;
  height: 0.6in;
  align-content: center;
  padding: 0.05in 0 0 0.05in;
}

div.setLabel div.textArea {
  background-color: white;
  padding: 0 0.5em;
  font-size: 10pt;
  line-height: 12pt;
  align-content: center;
  font-weight: bold;
  color: black;
}

div.setLabel div.textArea div {

}
