table.settable tr td {
  padding: .375rem 1rem;
}

table.settable tr th {
  padding: .375rem 1rem;
}

table.settable tbody tr:nth-child(odd) {
  background-color: hsl(221, 10%, calc(15%));
}

table.settable tbody tr:hover {
  color: #9ea3f3;
  background-color: rgba(83, 91, 242, 0.3);
  cursor: pointer;
  user-select: none;
}