table.settable tr td {
  padding: .375rem 1rem;
}

table.settable tr th {
  padding: .375rem 1rem;
}

table.settable tbody tr:nth-child(odd) {
  background-color: rgba(130, 143, 167, 0.07);
}

table.settable tbody tr:hover {
  color: rgba(7, 73, 251, 1);
  background-color: rgba(90, 105, 255, 0.2);
}

@media (prefers-color-scheme: dark) {
  table.settable tbody tr:hover {
    color: rgba(156, 165, 241, 1);
  }
}