#root { }

.modal.has-overflow {
    position: fixed ! important;
    overflow: auto ! important;
}

.modal .modal-content, .modal .modal-card, .modal .modal-card-body {
    overflow: visible ! important;
}